<div class="dropdown">
  <a
    class="btn btn-sm dropdown-toggle"
    [ngClass]="isDarkTheme ? 'btn-dark' : 'btn-light'"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    <img [src]="selectedLanguage?.image" alt="" height="20" />
  </a>

  <ul class="dropdown-menu min-width-auto dropdown-menu-dark" [ngClass]="{ 'dropdown-menu-dark': isDarkTheme }">
    <!-- @for (language of languages; track language.id){  -->
    @for (language of languagesMap.values(); track language.id) {
      <li>
        <a class="dropdown-item" (click)="onLanguageChange(language.id)" (keydown.enter)="onLanguageChange(language.id)" tabindex="0">
          <img [src]="language.image" alt="" height="20" />
        </a>
      </li>
    }
  </ul>
</div>
