<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-1">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="#">
      <img src="/assets/images/corinthians.png" alt="Bootstrap" height="35" />
      Angular 17
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        @for (menuRoute of menuRoutes; track menuRoute.path) {
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="menuRoute.path">{{ menuRoute.title | translate }}</a>
          </li>
        }
      </ul>
      <ul class="navbar-nav ms-auto align-items-md-center">
        <li class="nav-item me-3">
          <app-language [isDarkTheme]="true"></app-language>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link py-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person-circle fs-2"></i> </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
