<br />
<br />
<div class="form-signin w-100 m-auto card text-center">
  <div class="align-self-end">
    <app-language></app-language>
  </div>

  <form>
    <img class="mb-4" src="assets/images/corinthians.png" alt="" height="87" />
    <h1 class="h3 mb-3">{{ 'auth.SIGNIN' | translate }}</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
      <label for="floatingInput">{{ 'auth.EMAIL_ADDRESS' | translate }}</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
      <label for="floatingPassword">{{ 'auth.PASSWORD' | translate }}</label>
    </div>
    <div class="my-3 d-flex justify-content-between">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="rememberme" />
        <label class="form-check-label ms-1" for="rememberme"> {{ 'auth.REMEMBER_ME' | translate }} </label>
      </div>
      <div class="me-1">
        <a href="">{{ 'auth.FORGOT_PASSWORD' | translate }}</a>
      </div>
    </div>
    <button class="btn btn-dark w-100 py-2" type="submit">{{ 'auth.SIGNIN' | translate }}</button>
    <div class="or-container">
      <div class="line-separator"></div>
      <div class="or-label">{{ 'auth.OR' | translate }}</div>
      <div class="line-separator"></div>
    </div>
    @for (signInOption of signInProviders; track signInOption.provider) {
      <button class="btn btn-lg btn-light btn-block btn-outline d-flex align-items-center w-100 py-2 my-2">
        <i class="{{ signInOption.icon }}"></i>
        <span class="flex-grow-1 text-center">{{ 'auth.SIGNIN_WITH' | translate }} {{ signInOption.provider }}</span>
      </button>
    }
  </form>
</div>
