@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

body,
app-root,
app-backoffice,
app-auth {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  font-family: Roboto;
}

main > .container-fluid {
  padding: 70px 15px 0;
}
